{
    "Cisco-IOS-XE-wireless-ap-cfg:ap-cfg-data": {
        "ap-tags": {
            "ap-tag": [
                {
                    "ap-mac": "{{ ap_mac }}",
                    "policy-tag": "default-policy-tag",
                    "site-tag": "default-site-tag",
                    "rf-tag": "default-rf-tag"
                }
            ]
        }
    }
}