<config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <ap-cfg-data xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-wireless-ap-cfg">
    <ap-tags>
      <ap-tag>
        <ap-mac>{{ ap_mac }}</ap-mac>
        <policy-tag>default-policy-tag</policy-tag>
        <site-tag>default-site-tag</site-tag>
        <rf-tag>default-rf-tag</rf-tag>
      </ap-tag>
    </ap-tags>
  </ap-cfg-data>
  <radio-cfg-data xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-wireless-radio-cfg">
    <ap-spec-configs>
      <ap-spec-config>
        <ap-eth-mac-addr>{{ ap_mac }}</ap-eth-mac-addr>
        <ap-host-name>{{ ap_name }}</ap-host-name>
      </ap-spec-config>
    </ap-spec-configs>
{% if interface.name.startswith("radio") and interface_rf_details %}
    <ap-specific-configs>
      <ap-specific-config>
        <ap-ethernet-mac-addr>{{ ap_mac }}</ap-ethernet-mac-addr>
        <ap-specific-slot-configs>
          <ap-specific-slot-config>
            <slot-id>{{ interface.name.replace("radio", "") }}</slot-id>
            <radio-params-{{ interface_rf_details.radio_band }}ghz>
              <admin-state>{{ interface.enabled | string | lower if interface.enabled is defined else "true" }}</admin-state>
              <transmit-power>{{ interface.tx_power }}</transmit-power>
              <channel>{{ interface_rf_details.channel }}</channel>
{% if interface_rf_details.channel_width %}
              <channel-width>{{ interface_rf_details.channel_width | int }}</channel-width>
{% endif %}
              <dca>false</dca>
              <dtp>false</dtp>
            </radio-params-{{ interface_rf_details.radio_band }}ghz>
          </ap-specific-slot-config>
        </ap-specific-slot-configs>
      </ap-specific-config>
    </ap-specific-configs>
{% endif %}
  </radio-cfg-data>
</config>
