{
    "Cisco-IOS-XE-wireless-radio-cfg:radio-cfg-data": {
        "ap-spec-configs": {
            "ap-spec-config": [
                {
                    "ap-eth-mac-addr": "{{ ap_mac }}",
                    "ap-host-name": "{{ ap_name }}"
                }
            ]
        }
    }
}