<config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <ap-cfg-data xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-wireless-ap-cfg">
    <ap-tags>
      <ap-tag>
        <ap-mac>{{ ap_mac }}</ap-mac>
        <policy-tag>warehouse-policy-tag</policy-tag>
        <site-tag>warehouse-site-tag</site-tag>
        <rf-tag>warehouse-rf-tag</rf-tag>
      </ap-tag>
    </ap-tags>
  </ap-cfg-data>
  <radio-cfg-data xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-wireless-radio-cfg">
    <ap-spec-configs>
      <ap-spec-config>
        <ap-eth-mac-addr>{{ ap_mac }}</ap-eth-mac-addr>
        <ap-host-name>{{ ap_name }}</ap-host-name>
      </ap-spec-config>
    </ap-spec-configs>
    <ap-specific-configs>
      <ap-specific-config>
        <ap-ethernet-mac-addr>{{ ap_mac }}</ap-ethernet-mac-addr>
        <ap-specific-slot-configs>
{% for interface in ap_interfaces %}
{% if interface.name.startswith("radio") %}
{% set radio_band = interface.custom_fields.wifi_radio_band.replace(".", "") if interface.custom_fields.wifi_radio_band %}
          <ap-specific-slot-config>
            <slot-id>{{ interface.name.replace("radio", "") }}</slot-id>
            <radio-params-{{ radio_band }}ghz>
              <admin-state>{{ interface.enabled | string | lower if interface.enabled is defined else "true" }}</admin-state>
              <transmit-power-level>{{ interface.tx_power }}</transmit-power-level>
              <channel>{{ interface.custom_fields.wifi_radio_channel }}</channel>
{% if interface.channel_width %}
              <channel-width>{{ interface.channel_width }}</channel-width>
{% endif %}
              <dca>false</dca>
              <dtp>false</dtp>
            </radio-params-{{ radio_band }}ghz>
          </ap-specific-slot-config>
{% endif %}
{% endfor %}
        </ap-specific-slot-configs>
      </ap-specific-config>
    </ap-specific-configs>
  </radio-cfg-data>
</config>
